* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  height: 100%;
  min-height: 100vh
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: 400
}

ol,
ul,
dl,
dt,
dd {
  list-style: none;
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

table,
thead,
tbody,
tr,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}

p {
  margin: 0
}

a {
  text-decoration: none;
  color: #9F9F9F;
  outline: none
}

i {
  font-style: inherit
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  outline: none
}

hr {
  margin: 0;
  border: none
}

[type="text"],
[type="password"],
[type="email"],
[type="number"],
[type="tel"] {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.4
}


body {
  background: #fff;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('https://raw.githubusercontent.com/TomokoEG/new-egg-worm/main/src/assets/pages/dragon/dragronBackgroun.png');
  background-size: cover;
  opacity: 0.15;
  z-index: -1;
}

.dragonPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 100;
}

.divider {
  height: 1px;
  align-self: stretch;
  background: #C6C6C6;
  margin: 24px 0px;
}

.asWe {
  color: #434343;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 22.4px */
  font-family: 'Noto Sans', sans-serif;
}

.jpText {
  color: #434343;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
}

h2.title {
  margin-top: 44px;
  color: #8A7000;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 121%;
  /* 24.2px */
}

.byEggorm {
  color: #333;
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 121%;
  margin-top: 12px;
  text-align: center;
}


.dragon2024 {
  background: url('https://raw.githubusercontent.com/TomokoEG/new-egg-worm/main/src/assets/pages/dragon/dragon2024.png') center no-repeat;
  width: 94%;
  padding-bottom: 100%;
  background-size: contain;
  position: relative;
}

.gallaryStack {
  width: 94%;
  padding-bottom: 51%;
  position: relative;
  margin-bottom: 48px;
}

.gallary1 {
  margin-top: 62.5px;
  background: url('https://raw.githubusercontent.com/TomokoEG/new-egg-worm/main/src/assets/pages/dragon/gallary1.png') center no-repeat;
  background-size: cover;
}

.gallary2 {
  margin-top: 48px;
  background: url('https://raw.githubusercontent.com/TomokoEG/new-egg-worm/main/src/assets/pages/dragon/gallary2.png') center no-repeat;
  background-size: cover;
}

.gallary3 {
  margin-top: 48px;
  background: url('https://raw.githubusercontent.com/TomokoEG/new-egg-worm/main/src/assets/pages/dragon/gallary3.png') center no-repeat;
  background-size: contain;
}

.gallary4 {
  margin-top: 48px;
  background: url('https://raw.githubusercontent.com/TomokoEG/new-egg-worm/main/src/assets/pages/dragon/gallary4.png') center no-repeat;
  padding-bottom: 53%;
  background-size: cover;
}

.blockText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.block-2 {
  gap: 20px;
}

.block-2 p {
  text-align: center;
}

.mt20 {
  margin-top: 20px;
}

.dragonPageFooter {
  display: flex;
  padding: 52px 0px 100px 0px;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.eggwormlogo {
  width: 109px;
  height: 109px;
  background: url('https://raw.githubusercontent.com/TomokoEG/new-egg-worm/main/src/assets/pages/dragon/logoEggwom.svg') center no-repeat;
  background-size: contain;
  position: relative;
}

.footerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
}

.footerTitle {
  color: #434343;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 39.2px */
}

.footerSub {
  color: #434343;
  font-family: 'Noto Sans', sans-serif;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 33.6px */
}

/* Desktop */
@media (min-width: 1169px) {

  .dragon2024 {
    margin-top: 48px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1168px) {
  .dragonPage {
    max-width: 90vw;
  }
}

/* mobile */
@media (max-width: 768px) {
  .block-1 {
    padding: 44px 32px 24px 32px;
  }

  .block-2 {
    padding: 24px 32px;
  }

  h2.title {
    font-size: 20px;
    font-weight: 400;
    margin-top: unset;
  }

  .byEggorm {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
  }

  .divider {
    margin: 16px 0px;
  }

  .asWe {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 22.4px */
  }

  .jpText {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  .gallaryStack {
    width: 100%;
    padding-bottom: 66%;
    margin-bottom: unset;
  }

  .gallary1,
  .gallary2,
  .gallary3,
  .gallary4 {
    margin-top: unset;
  }

  .dragonPageFooter {
    padding: 24px 40px 30px 40px;
  }

  .eggwormlogo {
    width: 60px;
    height: 60px;
  }

  .footerTitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  .footerSub {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}